// .carousel-caption {
// 	right: 50%;
// 	left: 0%;
// 	top:15%;
// }

.navbar-header {
	width: 100%;
	text-align:center;
}

.navbar-nav {
	width:100%;
}

.home-message {
	padding: 10%;
}

.navbar-nav li{
	width: 25%;
	text-align: center;
}

.navbar-logo {
	color: white;
	font-size: 5rem;
}

.navbar-logo:hover {
	color: white;
	text-decoration: none;
	font-size: 5rem;
}

.navbar-logo:visited {
	color: white;
	text-decoration: none;
	font-size: 5rem;
}

.navbar-logo:focus {
	color: white;
	text-decoration: none;
	font-size: 5rem;
}

.homepage-tile {
	height: 300px;
	// background-color: gray;
	padding: 10px;
}

.center {
	text-align: center;
}

.tile-image {
	width: 100%;
}

.tile-header {
	font-weight: bold;
}


// EVENT PAGE
.event-image {
	width: 100%;
}